<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/chair.css" />

    <title>Movie Seat Booking</title>
  </head>
  <body>
    <div class="page">
      <div class="sidebar">
        <div class="logo_bar">
          <div class="logo_img"><img src="/images/logo.png" /></div>
        </div>
        <ul class="nav_list">
          <li>
            <a href="/index">
              <span class="links_name">Anasayfa</span>
            </a>
            <span class="tooltip">Anasayfa</span>
          </li>
          <li>
            <% if(loginn){ %>
            <a href="/profile">
              <span class="links_name">Profilim</span>
            </a>
            <span class="tooltip">Profilim</span>
            <% } %>
          </li>
          <li>
            <% if(role==2){ %>
            <a href="/dailyReport">
              <span class="links_name">Gün Listesi</span>
            </a>
            <span class="tooltip">Gün Listesi</span>
            <% } %>
          </li>
          <li>
            <% if(role==2){ %>
            <a href="/ownerPanel">
              <span class="links_name">Çalışan Paneli</span>
            </a>
            <span class="tooltip">Çalışan Paneli</span>
            <% } %>
          </li>
        </ul>
        <div class="profile_content">
          <div class="name"><%=fullname%></div>
          <div class="logout">
            <a href="/login" id="logout"
              ><i class="fa fa-sign-out" style="font-size: 20px"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="homepage">
        <div class="content">

          <ul class="showcase">
            <li>
              <div class="divider"></div>
              <small>Boş</small>
            </li>

            <li>
              <div class="divider selected"></div>
              <small>Seçilen</small>
            </li>

            <li>
              <div class="divider occupied"></div>
              <small>Dolu</small>
            </li>
          </ul>

          <div id="addEvent" class="container tabcontent">
            <p style="text-align: center; font-size: 22px">
              Lütfen oturma alanı seçiniz
            </p>
            <%chairArrays.forEach(chair => { %>
            <div class="row">
              <%chair.forEach(tmp => { %>
              <div class="seat">
                <div class="bottom">
                  <% if(tmp.isReserved){%>
                    <a class="divider d1 occupied" style="text-decoration: none; color: black;"><%=tmp.SeatNo%></a>
                  <% }else{%>  
                    <a class="divider d1 " href="/reservechair/<%=tmp.SeatNo%>" style="text-decoration: none; color: black;"><%=tmp.SeatNo%></a>
                    <% } %> 
                </div>
              </div>
              <% }) %> 
            </div>
            <% }) %> 
          </div>



          <script src="/script.js"></script>
          <script src="/chair.js"></script>
        </div>
      </div>
    </div>
  </body>
</html>
