<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgetPassword.css" />
    <title>Forget Password</title>
</head>
<div class="body"></div>
<div class="header">
    <div>Ka<span>Chow</span></div>
</div>
<br />

<div class="forgotPassword">
    <form action="/forgetpassword" method="POST">
        <input type="text" placeholder="email" name="email" id ="email" /><br />
        <button class="button" type="submit"> Şifremi Unuttum </button>
    </form>
</div>

</html>