<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="page">
        <div class="sidebar">

            <div class="logo_bar">
              <div class="logo_img"><img src="/images/logo.png"></div>
            </div>
            <ul class="nav_list">
              <li>
                <a href="/index">
                  <span class="links_name">Anasayfa</span>
                </a>
                <span class="tooltip">Anasayfa</span>
              </li>
              <li>
                <% if(loginn){ %>
                <a href="/profile">
                  <span class="links_name">Profilim</span>
                </a>
                <span class="tooltip">Profilim</span>
                <% } %>
              </li>
              <li>
                <% if(role==2){ %>
                <a href="/dailyReport">
                  <span class="links_name">Gün Listesi</span>
                </a>
                <span class="tooltip">Gün Listesi</span>
                <% } %>
              </li>
              <li>
                <% if(role==2){ %>
                <a href="/ownerPanel">
                  <span class="links_name">Çalışan Paneli</span>
                </a>
                <span class="tooltip">Çalışan Paneli</span>
                <% } %>
              </li>
            </ul>
            <div class="profile_content">
              <div class="name"><%=fullname%></div>
              <div class="logout"><a href="/login" id="logout"><i class="fa fa-sign-out" style="font-size:20px"></i></a> </div>
            </div>
          </div>

          <div class="homepage">
            
            <div class="baslik">
                  <h1>Hoşgeldiniz! Rezervasyona Başlayın</h1>
                </div>

                <% if(quarantine === true){%>
                  <h2 class="warning">Karantinanız boyunca rezervasyon yapamazsınız</h2>
                  <h2 class="warning">Karantinanızın bitmesine kalan gün sayısı:<%=quarantineEndDate%> </h2>
                  <% } %> 

              <div class="homepagein">
                
                <form action="/room" method="POST">
                  <div class="room">

                    <div class="yazi">
                      <h2>Oda Rezerve Et</h2>
                    </div>
                    <div class="yazi">
                      <p>Çeşitli oda seçenekleri ile kendinize en uygun olan odayı seçin. Kiralayacağınız oda için maske ve mesafe kurallarına da ayrıca uymayı unutmayın.</p>
                    </div>

                    <fieldset class="date">

                      <legend>Tarih</legend>
                      <input type="date" name ="date"/>

                    </fieldset>
  
                    <div class="buton">
                      <% if(quarantine === true){%>
                        <button disabled class= "button" type ="submit">Rezerve Et</button>
                        <% }else{ %> 
                          <button class= "button" style="cursor: pointer;" type ="submit">Rezerve Et</button>
                          <% } %> 
                    </div>
  
                  </div>
                </form>
                
                <form action="/chair" method="POST">
                  <div class="seat">

                    <div class="yazi">
                      <h2>Koltuk Rezerve Et</h2>
                    </div>
  
                    <div class="yazi">
                      <p>Kendinize özel çalışma alanı için hemen koltuk kiralayın. Kiralamadan sonra iş yerinde maske ve mesafe kurallarına da ayrıca uymayı unutmayın.</p>
                    </div>

                      <fieldset class="date">

                        <legend>Tarih</legend>
                        <input type="date" name ="date">

                      </fieldset>
  
                    <div class="buton">
                      <% if(quarantine === true){%>
                      <button disabled class= "button" type ="submit">Rezerve Et</button>
                      <% }else{ %> 
                        <button  class= "button" style="cursor: pointer;" type ="submit">Rezerve Et</button>
                        <% } %> 
                    </div>
  
                  </div>
                </form>
                

              </div>
              
          </div>
    </div>
    
</body>
</html>