<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
  </head>
  <div class="body"></div>
  <div class="header">
    <div>Ka<span>Chow</span></div>
  </div>
  <br />
  <div class="login">
    <form action="/user/login" method="POST">
      <input type="text" placeholder="email" name="email" /><br />
      <input type="password" placeholder="password" name="password" /><br />
      <button class="button" type="submit"> Login </button>
    </form>
    <div class="register">
    <a class="buttons" href="/register">Register</a>
    <a class="buttons" href="/forgetPassword">Forget Password</a>
  </div>
  </div>
</html>
