<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/notFound.css" />
    <title>Hata</title>
</head>
<body style="background-color: #F3F3FB; margin: auto; padding-top: 80px;">
    <div class="mid-part">
        <div class="error-image">
            <img src="images/notFound.png" class="error-image-fix">
                <a style="margin: auto; display: flex; text-decoration: none;" href="/"><button type="button" class="button">Anasayfa</button></a>
        </div>
    </div>
</body>
</html>