<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/setpassword.css">
    <link rel="stylesheet" href="/stylee.css">
</head>

<section id="category">
    <div class="category container">
        <div class="form">
            <form action="/setzeronewpassword" method="POST">
                <div class="flex-container">
                    <h2
                        style="text-align: center; font-size: x-large; margin-top: 5rem; font-family: 'Open Sans', sans-serif; ">
                        Create Password</h2>
                    <div class="email">
                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" id="password" name="password" required>
                    </div>
                    <div class="password">
                        <label for="password"><b>Confirm Password</b></label>
                        <input type="password" placeholder="Confirm Password" id="confirmpass" name="confirmpass" required>
                    </div>
                    <button type="submit">Set Password</button>
                </div>
            </form>
        </div>
    </div>
</section>