<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/successPage.css">
    <title>Başarılı</title>
</head>

<body>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>İşleminiz Başarılı<br /> Anasayfaya dön</p>
        <br/>
        <br/>
        <a class="back-button" href="/index">Anasayfa Git</a>
    </div>
</body>

</html>