*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.page{
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url("/images/home_background.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: black;
    padding: 6px 14px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;
    font-weight: bolder;
    border: solid 1px black;
}

.logo_img{
    display: flex;
    max-width: 20rem;
    max-height: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.logo_img img{
    width: 100%;
    height: 100%;
}
.logo_bar{
    display: flex;
    flex-direction: column;
}
.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: grey;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    top: 100%;
    opacity: 1;
}

.sidebar ul li a{
    display: flex;
    margin-left: 10px;
    color: white;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.sidebar ul li #icon{
    height: 50px;
    min-width: 50px;
}

.sidebar .links_name{
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
}
.profile_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 100%;
    align-items: end;
}
.name{
    display: flex;
    flex: 3;
    margin-bottom: 0.3rem;
}
.logout{
    display: flex;
    flex: 1.5;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 2rem;
    justify-content: center;
}
#logout{
    color: white;
}
.homepage{
    overflow: auto;
    display: flex;
    flex: 7;
    align-items: center;
    flex-direction: column;
}
.baslik{
    display: flex;
    height: fit-content;
    margin: 2rem;
    color: #004aad;
    margin-top: 4rem;
    padding: 6px 14px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
}
.homepagein{
    display: flex;
    flex-direction: row;
    margin: 4rem;
    height: 35rem;
}
.room{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: solid black 0.2rem;
    margin: 3rem;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 1rem 1rem black;
    background-color: white;
}
.seat{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: solid black 0.2rem;
    margin: 3rem;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 1rem 1rem black;
    background-color: whitesmoke;
}
.yazi{
    margin: 1rem;
    margin-bottom: 6rem;
}
.buton{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    border: solid black 1px;
    min-width: 6rem;
    min-height: 3rem;
    background-color: #004aad;
    border-radius: 3rem;
    box-shadow: 0.2rem 0.3rem;
    margin-bottom: 2rem;
    align-items: center;
}
.button{
    display: flex;
    flex: 1;
    border-width: 0px;
    background: none;
    color: white;
    justify-content: center;
}

.buton a{
    color: white;
    text-decoration:none
}

.date{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 7rem;
    padding: 1rem;
    border-radius: 1rem;
}
.date input{
    border-width: 0px;
    background: none;
    outline: none;
}
.warning{
    color: rgb(250, 61, 61);
}